<a href="https://colab.research.google.com/github/costadomar/An-lise_estat-stica/blob/main/Amostragem_Exerc%C3%ADcio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Realize uma amostragem sistemática nos dados da base Iris, carregada direto do sklearn. 
Lembre-se que o objetivo da amostragem sistemática é selecionar itens da população (base completa nesse caso) utilizando um intervalo fixo.

Para esse exercício, vamos partir do elemento com índice 2 na base e a partir daí selecionar de 10 em 10 os itens seguintes que farão parte da amostra.

#0.CARREGANDO AS BIBLIOTECAS

In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets

#1.CARREGANDO A BASE DE DADOS

In [2]:
iris_df = pd.DataFrame(datasets.load_iris().data)

In [3]:
iris_df.columns = datasets.load_iris().feature_names

#2.ESTATÍSTICA DESCRITIVA DOS DADOS

In [4]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
## Comece seu código aqui!
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [6]:
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

#3.Amostragem Aleatória Simples

In [7]:
#Selecionando o número de registros de uma amostra

df_sample = iris_df.sample(10)

df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 58 to 29
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  10 non-null     float64
 1   sepal width (cm)   10 non-null     float64
 2   petal length (cm)  10 non-null     float64
 3   petal width (cm)   10 non-null     float64
dtypes: float64(4)
memory usage: 400.0 bytes

In [8]:
#selecionando uma amostra aleatória de 10%
df_sample = iris_df.sample(frac=0.10)

df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 134 to 59
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  15 non-null     float64
 1   sepal width (cm)   15 non-null     float64
 2   petal length (cm)  15 non-null     float64
 3   petal width (cm)   15 non-null     float64
dtypes: float64(4)
memory usage: 600.0 bytes

#4. Amostragem sistemática

In [9]:
semente = np.random.choice(10,1)
semente

array([2])

In [10]:
#Gerando um array que inicia em 0 e termina em 100 com um intervalo da semente(7):

indices = np.arange(2,len(iris_df), 5)
indices

array([  2,   7,  12,  17,  22,  27,  32,  37,  42,  47,  52,  57,  62,
        67,  72,  77,  82,  87,  92,  97, 102, 107, 112, 117, 122, 127,
       132, 137, 142, 147])

In [11]:
amostra = iris_df.loc[indices, :]
amostra

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
2                  4.7               3.2                1.3               0.2
7                  5.0               3.4                1.5               0.2
12                 4.8               3.0                1.4               0.1
17                 5.1               3.5                1.4               0.3
22                 4.6               3.6                1.0               0.2
27                 5.2               3.5                1.5               0.2
32                 5.2               4.1                1.5               0.1
37                 4.9               3.6                1.4               0.1
42                 4.4               3.2                1.3               0.2
47                 4.6               3.2                1.4               0.2
52                 6.9               3.1                4.9               1.5
57                 4.9               2.4                3.3               1.0
62                 6.0               2.2                4.0               1.0
67                 5.8               2.7                4.1               1.0
72                 6.3               2.5                4.9               1.5
77                 6.7               3.0                5.0               1.7
82                 5.8               2.7                3.9               1.2
87                 6.3               2.3                4.4               1.3
92                 5.8               2.6                4.0               1.2
97                 6.2               2.9                4.3               1.3
102                7.1               3.0                5.9               2.1
107                7.3               2.9                6.3               1.8
112                6.8               3.0                5.5               2.1
117                7.7               3.8                6.7               2.2
122                7.7               2.8                6.7               2.0
127                6.1               3.0                4.9               1.8
132                6.4               2.8                5.6               2.2
137                6.4               3.1                5.5               1.8
142                5.8               2.7                5.1               1.9
147                6.5               3.0                5.2               2.0

In [12]:
amostra.shape

(30, 4)

In [13]:
len(amostra)

30